body {
  font-family: "Montserrat", sans-serif;
  color: #2b3541;
}

/* HEADER */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 10px;
}

.header-logo {
  width: 97px;
  height: 30px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 54px;
  margin-right: 300px;
  font-size: 18px;
  padding-left: 0;
}

.header-nav a {
  color: #2b3541;
  text-decoration: none;
}

.header-nav a:hover {
  border-bottom: 1px solid #2b3541;
}

.header-social {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 30px;
  padding-left: 0;
}

.header-social img {
  width: 30px;
  height: 30px;
}

.header-social img:hover {
  transform: scale(1.2);
  opacity: 1;
}

/* PROMO */

.promo-section {
  margin-bottom: 162px;
}

.promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.promo-text {
}
.promo-title {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.25;
  margin-top: -58px;
}

.promo-text p {
  max-width: 300px;
  font-size: 18px;
  margin: 0;
  line-height: 1.5;
  margin-left: 91px;
  margin-bottom: 360px;
}

.promo-text span {
  display: block;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 20px;
}

.button-promo {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #fbf138;
  width: 252px;
  height: 64px;
}

.promo-img {
  position: relative;
}

.gradient {
  width: 464px;
  height: 850px;
  background: linear-gradient(
    90deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 145.23%
  );
  opacity: 0.2;
}

img.girl {
  position: absolute;
  bottom: 1px;
  right: -183px;
  width: 983px;
  height: 852px;
}

.button-down img {
  width: 52px;
  height: 55px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* EVENTS */

.events-section {
  margin-bottom: 160px;
}

.events-title {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  margin-left: -2px;
  margin-bottom: 42px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.events-grid-cover {
  width: 367.32px;
  height: 600px;
  background-size: cover;
  position: relative;
}

.first-event {
  background-image: url(../img/marafon.png);
}

.second-event {
  background-image: url(../img/trainer.png);
}

.third-event {
  background-image: url(../img/yoga.png);
}

.events-flex {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  max-width: 260px;
}

.events-grid-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin: 0;
}

.events-grid-dates {
  order: -1;
  font-weight: 700;
  font-size: 18px;
  color: #2b3541;
  opacity: 0.6;
  margin-top: 34px;
  margin-bottom: 25px;
}

.events-link-hover {
  display: none;
}

.events-button {
  font-size: 18px;
  color: #2b3541;
  background: #fbf138;
  display: block;
  width: 122.11px;
  height: 47px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* TRAINING */

.training-section {
  margin-bottom: 160px;
}

.training-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.training-title {
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  line-height: 1.25;
  max-width: 350px;
}

.training-dates {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 73px;
  margin-top: 0;
  line-height: 1.25;
}

.training-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 309px 73px 281px;
  grid-template-areas:
    "functional sculpt lab"
    "mix sculpt warmup"
    "mix practice warmup";
}

.functional {
  grid-area: functional;
}

.sculpt {
  grid-area: sculpt;
}

.lab {
  grid-area: lab;
}

.mix {
  grid-area: mix;
}

.practice {
  grid-area: practice;
}

.warmup {
  grid-area: warmup;
}

.training-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 30px;
  padding-bottom: 0;
  box-sizing: border-box;
  border: 1px solid;
}

.training-grid-item:hover {
  border: transparent;
  background: linear-gradient(
    180deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 100%
  );
  cursor: pointer;
}

.training-grid-dates {
  align-self: flex-end;
  font-size: 18px;
  line-height: 1.25;
  color: #010101;
  opacity: 0.7;
}

.training-grid-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  margin-bottom: 19px;
}

.training-grid-img {
  margin-bottom: 13px;
}

/* MAIL */

.mail-section {
  background-color: #f3f3f3;
}

.mail {
  padding-bottom: 3px;
  position: relative;
  z-index: 1;
}

.mail-form {
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
}

.title-form {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-top: 0;
  margin-bottom: 40px;
}
.subscribe {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: 18px;
}

.email-input {
  border: transparent;
  height: 63px;
  width: 342px;
  padding-left: 25px;
}

.email-input::placeholder {
  color: #c0c3c6;
  font-size: 18px;
  line-height: 1.5;
}

.email-input input:focus {
  border: #fbf138;
}

.email-input:invalid {
  border: red;
}

.subscribe-button {
  background: #fbf138;
  border: none;
  padding: 22px 42px 20px 43px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b3541;
}

.subscribe-button:hover {
  background: #2b3541;
  color: #fbf138;
}

.agreement {
  margin-top: 11px;
  text-align: start;
  padding-left: 271px;
}

.label-checkbox {
  font-size: 11px;
  line-height: 1.5;
}

.label-checkbox a {
  color: #8f949a;
}

.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  color: #8f949a;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: calc(50% - 10px);
  background-color: #2b3541;
  border-radius: 2px;
  border: 2px solid #2b3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 1;
  left: 4px;
  top: calc(50% - 6px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: calc(50% - 10px);
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #2b3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease;
  opacity: 0;
  left: 4px;
  top: calc(50% - 6px);
  background-position: 0 -12px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
.radio:checked + label::before {
  border-radius: 100%;
}

.circle {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #fbf138;
  position: absolute;
  top: 62px;
  left: 243px;
  z-index: -1;
}

/* COMPANY */

.company {
  padding-top: 160px;
  padding-bottom: 153px;
}
.company-description {
  display: flex;
  gap: 77px;
  margin-bottom: 80px;
}

.company-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  margin: 0;
}

.company-ad {
  max-width: 483px;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 34px;
}

.record-button {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b3541;
  padding: 26px 54px 21px 53px;
  border: none;
  background-color: #fbf138;
}

.record-button:hover {
  background: #2b3541;
  color: #fbf138;
}

.company-image {
  width: 581px;
  height: 100%;
}

.company-pluses {
  display: flex;
  justify-content: space-between;
  gap: 67px;
}

.plus-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  margin: 0;
  margin-top: -3px;
}

.plus-description {
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.6;
}

.plus-1 {
  min-width: 231px;
}

.plus-2 {
  min-width: 284px;
}

.plus-3 {
  min-width: 221px;
}

/* FOOTER */

.footer-page {
  background-color: #f3f3f3;
}

.footer {
  padding-top: 18px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 15px;
}

.div-logo {
  margin-right: 18px;
}

.footer-logo {
  width: 97px;
  height: 30px;
}

.footer-nav {
  margin-right: 127px;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 90px;
  font-size: 14px;
  padding-left: 0;
  text-align: center;
}

.footer-nav-list a {
  color: #2b3541;
  text-decoration: none;
}

.footer-nav-list a:hover {
  border-bottom: 1px solid #2b3541;
}

.footer-info-div {
  margin-right: 8px;
}

.footer-info-p {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 40px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 30px;
  padding-left: 0;
}

.footer-social img {
  width: 27px;
  height: 27px;
}

.footer-social img:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer-other {
  display: flex;
  justify-content: space-between;
}

.footer-law {
  font-size: 14px;
  line-height: 1.5;
  color: #b8bbbe;
}

.footer-block {
  font-size: 14px;
  line-height: 1.5;
  color: #b8bbbe;
}

.footer-block a {
  color: #b8bbbe;
}

.footer-block a:hover {
  color: #2b3541;
}
