body {
  font-family: "Montserrat", sans-serif;
  color: #2b3541;
}

/* HEADER */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 10px;
}

.header-logo {
  width: 97px;
  height: 30px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 54px;
  margin-right: 300px;
  font-size: 18px;
  padding-left: 0;
}

.header-nav a {
  color: #2b3541;
  text-decoration: none;
}

.header-nav a:hover {
  border-bottom: 1px solid #2b3541;
}

.header-social {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 30px;
  padding-left: 0;
}

.header-social img {
  width: 30px;
  height: 30px;
}

.header-social img:hover {
  transform: scale(1.2);
  opacity: 1;
}

/* PROMO */

.promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.promo-text {
}
.promo-title {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.25;
  margin-top: -114px;
}

.promo-text p {
  max-width: 600px;
  font-size: 18px;
  margin: 0;
}

.promo-text span {
  display: block;
  font-size: 40px;
}

.button-promo {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #fbf138;
  width: 252px;
  height: 64px;
}

.rectangle {
  width: 464px;
  height: 850px;
  background: linear-gradient(
    90deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 145.23%
  );
  opacity: 0.2;
}

.button-down img {
  width: 52px;
  height: 55px;
  position: relative;
  left: 70px;
  top: 800px;
}

/* EVENTS */

.events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
