body {
  font-family: "Montserrat", sans-serif;
  color: #2b3541;
}

/* HEADER */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 10px;
}

.header-logo {
  width: 97px;
  height: 30px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 54px;
  margin-right: 300px;
  font-size: 18px;
  padding-left: 0;
}

.header-nav a {
  color: #2b3541;
  text-decoration: none;
}

.header-nav a:hover {
  border-bottom: 1px solid #2b3541;
}

.header-social {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 30px;
  padding-left: 0;
}

.header-social img {
  width: 30px;
  height: 30px;
}

.header-social img:hover {
  transform: scale(1.2);
  opacity: 1;
}

/* PROMO */

.promo-section {
  margin-bottom: 162px;
}

.promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.promo-text {
}
.promo-title {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.25;
  margin-top: -58px;
}

.promo-text p {
  max-width: 300px;
  font-size: 18px;
  margin: 0;
  line-height: 1.5;
  margin-left: 91px;
  margin-bottom: 360px;
}

.promo-text span {
  display: block;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 20px;
}

.button-promo {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #fbf138;
  width: 252px;
  height: 64px;
}

.promo-img {
  position: relative;
}

.gradient {
  width: 464px;
  height: 850px;
  background: linear-gradient(
    90deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 145.23%
  );
  opacity: 0.2;
}

img.girl {
  position: absolute;
  bottom: 1px;
  right: -183px;
  width: 983px;
  height: 852px;
}

.button-down img {
  width: 52px;
  height: 55px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* EVENTS */

.events-section {
  margin-bottom: 160px;
}

.events-title {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  margin-left: -2px;
  margin-bottom: 42px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.events-grid-cover {
  width: 367.32px;
  height: 600px;
  background-size: cover;
  position: relative;
}

.first-event {
  background-image: url(../img/marafon.png);
}

.second-event {
  background-image: url(../img/trainer.png);
}

.third-event {
  background-image: url(../img/yoga.png);
}

.events-flex {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  max-width: 260px;
}

.events-grid-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin: 0;
}

.events-grid-dates {
  order: -1;
  font-weight: 700;
  font-size: 18px;
  color: #2b3541;
  opacity: 0.6;
  margin-top: 34px;
  margin-bottom: 25px;
}

.events-link-hover {
  display: none;
}

.events-button {
  font-size: 18px;
  color: #2b3541;
  background: #fbf138;
  display: block;
  width: 122.11px;
  height: 47px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* TRAINING */

.training-section {
  margin-bottom: 160px;
}

.training-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.training-title {
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  line-height: 1.25;
  max-width: 350px;
}

.training-dates {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 73px;
  margin-top: 0;
  line-height: 1.25;
}

.training-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 309px 73px 281px;
  grid-template-areas:
    "functional sculpt lab"
    "mix sculpt warmup"
    "mix practice warmup";
}

.functional {
  grid-area: functional;
}

.sculpt {
  grid-area: sculpt;
}

.lab {
  grid-area: lab;
}

.mix {
  grid-area: mix;
}

.practice {
  grid-area: practice;
}

.warmup {
  grid-area: warmup;
}

.training-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 30px;
  padding-bottom: 0;
  box-sizing: border-box;
  border: 1px solid;
}

.training-grid-item:hover {
  border: transparent;
  background: linear-gradient(
    180deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 100%
  );
  cursor: pointer;
}

.training-grid-dates {
  align-self: flex-end;
  font-size: 18px;
  line-height: 1.25;
  color: #010101;
  opacity: 0.7;
}

.training-grid-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  margin-bottom: 19px;
}

.training-grid-img {
  margin-bottom: 13px;
}
